<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JieGePush.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECAB0A021D3E3259003E85BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECAB0A1B1D3E3259003E85BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECAB0A261D3E3259003E85BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
